/* As I build this css from scratch, I plan to build it from the top of the page down. Beginning with the nav and workign to the footer. I'm aiming to make it look nice on mobie and then allow the content to strech to larger screens from there */

/* color pallete
#44748c - Fairdale Blue
*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;

  background-image: url("./images/pews.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #474747;
  background-size: cover;
}

h1 {
  color: #5eb8e6;
  font-size: 55px;
  text-align: center;
}

h2 {
  color: #ececec;
  padding: 25px;
}

p {
  color: #ececec;
}

a {
  text-decoration: none;
}

a:visited {
  color: #5fa3c5;
}

/* Classes */

.burger {
  margin: 20px;
  cursor: pointer;
  justify-content: center;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
}

.burger:hover {
  transform: scale(1.1);
}

.bar-1,
.bar-2,
.bar-3 {
  background-color: #5fa3c5;
  height: 5px;
  width: 35px;
  margin: 3px 0px;
  border-radius: 10px;
  transition: 0.4s;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.top-flex-container {
  justify-content: space-between;
  display: flex;
  /* border: 2px red solid; */
  flex-direction: row-reverse;
}

.full-height {
  height: 100vh;
}


/* Burger Transition (rotate the bars) */

.change .bar-1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar-2 {
  opacity: 0;
}

.change .bar-3 {
  transform: rotate(45deg) translate(-9px, -6px);
}

/* Overlay  */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

/* posiition the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* nav links inside the overlay */

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #474747;
  display: block;
  transition: 0.3s;
}

/* change color on hover */
.overlay a:hover,
.overlay a:focus {
  color: #44748c;
}

/* position close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* IDs */

#logo {
  /* border: 2px solid red; */
  max-width: 50%;
  padding: 25px;
}

#topbanner {
  justify-content: center;
  padding-top: 13%;
}

/* #welcome {
  background-image: linear-gradient(to top, transparent 80%, #ececec),
    url(./images/fairdale.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #474747;
} */
