/* As I build this css from scratch, I plan to build it from the top of the page down. Beginning with the nav and workign to the footer. I'm aiming to make it look nice on mobie and then allow the content to strech to larger screens from there */

/* color pallete
#44748c - Fairdale Blue
*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #44748c;
}

h1 {
}

p {
}

/* Classes */
.full-height {
  height: 100vh;
}

/* IDs */

#logo {
  max-width: 50%;
  padding: 25px;
}
